.my-friend-photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.my-friend {
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.15s background-color;
}

.my-friend:hover {
  background-color: hwb(261 80% 0%);
}
