.my-search-page {
  min-height: calc(100vh - 60px);
  background-color: #d7cde73d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-search-page > * {
  width: 500px;
}

.my-search-page-header {
  text-align: center;
  margin: 1rem 0;
}

.my-search-page-content > .my-user {
  margin-bottom: 1rem;
}
