.my-homepage {
  height: calc(100vh - 60px);
  background-image: url("../../images/travel.jpg");
  background-size: cover;
}

.my-homepage-text {
  display: inline-block;
  width: 600px;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  background-color: #d7cde7ef;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.205);
  border-radius: 1rem;
  position: relative;
  top: 80px;
  left: 40px;
  padding: 1rem;
}
